<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">My Blog</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create</a>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-dark my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </li>
    </ul>
    <div>
      <a href="https://www.instagram.com"
        ><i class="social-icon fab fa-instagram"></i
      ></a>
      <a href="https://twitter.com/"
        ><i class="social-icon fab fa-twitter"></i
      ></a>
      <a href="https://facebook.com"
        ><i class="social-icon fab fa-facebook-f"></i
      ></a>
      <a href="#"><i class="social-icon fas fa-envelope"></i></a>
    </div>
    <div class="nav-item dropdown nav-light">
      <a
        class="nav-link dropdown-toggle lang-select"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Site Language
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a lang="en" class="dropdown-item lang-select" active href="#"
          >English</a
        >
        <a lang="fr" class="dropdown-item lang-select" href="#">Français</a>
      </div>
    </div>
  </div>
</nav>
