<%- include('partials/header') %> <%- include('partials/nav') %>

<header><h1>This is my blog</h1></header>
<section></section>
<footer>
  <h2>Contact me</h2>
  <p>Copyright 2020</p>
</footer>
<%- include('partials/footer') %>
